.tile-global {
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.1);
}

.tile-local {
    display: flex;
    cursor: pointer;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.tile-image {
    width: 50px;
    height: 50px;
    border-radius: 90px;
}

.tile-image-draw {
    border: 2px solid orange;
}
.tile-image-win{
    border: 2px solid green;
}

.tile-image-lose{
    border: 2px solid red;
}

.modal-img-tile {
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
}

.modal-choose-card {
    width: 200px;
    height: 283px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center; /* Aligne l'élément au centre horizontalement */
    align-items: center;

}

.btn-modal-valider-tile {
    background: transparent;
    border: 1px solid white;
    color: white;
}

.text-tile {
    font-size: 13px !important;
}

.reversed-div {
    display: flex;
    flex-direction: row-reverse;
}

.card-modal-tile {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 10px 10px;
    justify-content: center;
}

.card-modal-tile-global {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

p {
    color: white;
}